* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#tablero-juego {
    height: 50%;
    width: 85%;
}


/*Casilla estándard*/

.casilla {
    width: 75px;
    height: 75px;
    background-color: white;
    border: 1px solid blue;
    border-radius: 80%;
}


/* En el momento en qué seleccionamos una columna */

.casillaRojaSeleccionada {
    width: 75px;
    height: 75px;
    background-color: rgb(255, 221, 221);
    border: 1px solid blue;
    border-radius: 80%;
}

.casillaAmarillaSeleccionada {
    width: 75px;
    height: 75px;
    background-color: rgb(254, 255, 209);
    border: 1px solid blue;
    border-radius: 80%;
}


/*Casilla cuando hemos 'insertado ficha*/

.casillaRojaMarcada {
    width: 75px;
    height: 75px;
    background-color: red;
    border: 1px solid blue;
    border-radius: 80%;
}

.casillaAmarillaMarcada {
    width: 75px;
    height: 75px;
    background-color: yellow;
    border: 1px solid blue;
    border-radius: 80%;
}